@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}
body {
  font-family: "Inter", sans-serif;
  background-color: rgb(245, 248, 255);
}
header {
  background-image: url("./Assets/Hero-bg.png");
}
/* Banner section starts here */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 100px 100px 100px;
}
.logo {
  color: rgb(78, 71, 255);
  font-size: 34px;
  font-weight: 900;
}
.btn-01 {
  border-radius: 10px;
  border: none;
  background: rgb(78, 71, 255);
  padding: 12px 36px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
}
.btn-02 {
  margin-left: 590px;
  margin-bottom: 100px;
}
.banner-heading {
  font-size: 65px;
  font-weight: 700;
  color: rgb(37, 36, 50);
  text-align: center;
}
/* Banner section ends here */

/* See It in Action section starts here */
.banner-title {
  font-size: 42px;
  font-weight: 700;
  color: rgb(37, 36, 50);
  /* padding-bottom: 5px; */
}
.banner-description {
  font-size: 24px;
  font-weight: 400;
  /* padding-bottom: 5px; */
  color: rgba(37, 36, 50, 0.5);
  /* border: 1px solid red; */
}
.btn-03 {
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.flex {
  display: flex;
}
img {
  border-radius: 48px;
}
.gap-between {
  justify-content: space-between;
  padding-top: 100px;
  margin-left: 140px;
  margin-right: 140px;
}
.bottom {
  margin-bottom: 100px;
}
/* See It in Action section ends here */

/* Joined Thousands of Productive Users section starts here */
.highlight-section {
}
.highlight-div {
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  margin-left: 140px;
  margin-right: 140px;
  padding: 0px 80px;
  padding-top: 30px;
  line-height: 30px;
}
.review {
  gap: 60px;
  display: flex;
  padding-left: 170px;
}
.description-01 {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  color: rgb(37, 36, 50);
  /* border: 1px solid red; */
}
.color {
  font-size: 70px;
  /* border: 2px solid red; */
  font-weight: 700;
  color: rgb(78, 71, 255);
}
.para {
  border: 2px solid red;
}
h2,
p {
  padding: 0px;
}
span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 400;
  padding: 0px;
}
/* Joined Thousands of Productive Users section ends here */

/* What our users say section starts here  */
.users {
  color: rgb(37, 36, 50);
  font-size: 42px;
  font-weight: 700;
  padding-left: 370px;
  margin-top: 100px;
}
.color-2 {
  background-color: rgba(255, 255, 255, 0.5);
  gap: 4px;
}
.icon-size {
  width: 20px;
  height: 20px;
}
.user-say {
  gap: 40px;
  border-radius: 14px;
  padding: 24px;
}
.div-01 {
  align-items: center;
  gap: 20px;
}
.card-container {
  padding-left: 110px;
}
.span {
  color: rgb(174, 174, 174);
  font-size: 16px;
  font-weight: 400;
}
.card-title {
  color: rgb(30, 30, 30);
  font-size: 24px;
  font-weight: 600;
}
.subtitle {
  color: rgb(30, 30, 30);
  font-size: 16px;
  font-weight: 400;
}
/* What our users say section ends here  */

/* Ger Started Free section starts here */
.banner-title-02 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  padding-top: 50px;
}
.banner-description-02 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.center-align {
  text-align: center;
  padding-bottom: 20px;
}
.btn-04 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500px;
}
.hero-section {
  border-radius: 14px;
  background: rgb(255, 255, 255);
  margin-left: 140px;
  margin-right: 140px;
}
/* Ger Started Free section end here */

/* Let’s Get in Touch section starts here */
.form-container {
  padding: 30px;
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
}

input,
textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  background-color: #f9fbff;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #a3c1ff;
}

button {
  background-color: rgb(78, 71, 255);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #3c4de0;
}
.center-align-02 {
  /* text-align: center; */
  align-items: center;
}
.title {
  font-size: 89px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.pd {
  margin-left: 145px;
  margin-right: 135px;
  gap: 130px;
}
/* Let’s Get in Touch section end here */

/* Footer section starts here  */
.footer-container {
  line-height: 20px;
  background-color: rgb(255, 255, 255);
  padding-top: 60px;
}
.logo-title {
  font-size: 100px;
  font-weight: 900;
  color: rgb(78, 71, 255);
  text-align: center;
}
.logo-description {
  color: rgb(137, 135, 161);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.footer-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: rgb(137, 135, 161);
  padding-right: 40px;
  padding-left: 40px;
}
.link-container {
  gap: 48px;
  text-align: center;
}
/* Footer section end here  */
/* -----------------------------------Developed by [Md.Abdul Kaium]--------------------------------------------- */
